@import url(../fonts/stylesheet.css);
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
.container {
	padding: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: Arial;
	max-width: 1020px;
	margin: 0 auto;
}
li {
	display: inline-block;
	list-style: none;
}
a {
	text-decoration: none;
}
ul,p {
	margin: 0;
	padding: 0;
}
svg {
	width: 16px;
	height: 16px;
	fill: #d5d5d5;
}
h2 {
	font-family: League Gothic;
	font-size: 22px;
	color: #076e9f;
	text-transform: uppercase;
	margin: 30px 0 20px 0;
}
td {
	border-top: 1px solid #fff;
}

.clearfix {
	display: block;
  content: "";
  clear: both;
}
.fa {
	font-size: 20px;
	color: #d4d4d4;
}
/* header*/
.container {
	max-width: 955px;
	margin: 0 auto;
}
.header-topline {
	padding-top: 15px;
}
.logo {
	text-align: center;
}
.social-block {
	float: right;
	position: relative;
}
.social-icon {
	float: right;
	display: inline-block;
	margin-top: -30px;
	margin-right: 15px;
}
.social-icon a {
	font-size: 19px;
	margin-right: 3px;
}
.auth-buttons {
	display: none;
	background-color: transparent;
	outline: none;
	border: none;
}
.header-menu {
	text-align: center;
}
.header-nav {
	margin: 10px;
	padding-left: 0;
}
.header-nav ul {
	padding-left: 0;
}
.header-nav li {
	margin: 10px;
	text-transform: uppercase; 
}
.header-nav a {
	padding: 5px 18px;
	text-decoration: none;
	color: #7b7b7b; 
	font-size: 10px;
}
.active a {
	padding: 5px 18px;
	background-color: rgb(6, 100, 151);
	border: 1px solid rgb(4, 82, 121);
	color: #fff;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
}
.main-img {
	position: relative;
	height: 430px;
	width: 100%;
	border-top: 2px solid #22aaec;
	background-image: url('../img/main-img.jpg');
	background-repeat: no-repeat;
	background-position: 100% 10%;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;	
	border-bottom: 2px solid #22aaec;
	z-index: 2;
}
.main-title {
  font-size: 60px;
  font-family: "League Gothic";
  color: rgb(7, 110, 159);
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
	padding: 12px 5px;
	max-width: 285px;
	margin: 93px auto 10px auto;
}
.second-c {
	color: #22aaec;
}
.secondary-title {
	font-size: 30px;
  font-family: "League Gothic";
  color: rgb(7, 110, 159);
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
	padding: 12px 5px;
	max-width: 785px;
	margin: 10px auto 74px auto;
}
.people-block {
	position: relative;
	height: 112px;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
}
.person-block {
	display: inline-block;
	width: 24%;
	box-sizing: border-box;
}
.person {
	width: 190px;
	height: 70px;
	margin: 20px auto;
	background-color: rgba(255,255,255,0.9);
	border-radius: 45px 0 0 45px;
}
.person-one {
	background: url("../img/person1.png");
	background-position: center 45%;
}
.person-two {
	background: url("../img/person2.png");
	background-position: 0% 30%;
}
.person-three {
	background: url("../img/person3.png");
	background-position: 50% 0;
}
.person-four {
	background: url("../img/person4.png");
	background-position: 100% 20%;
}
.person-img {
	float: left;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	margin-right: 15px;
}
.person-comment {
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 9px;
	font-style: italic;
	color: #515151;
	float: left;
	width: 51%;
}
.person-name {
	float: left;
	margin: 0;
	font-size: 9px;
	color: #828282;
}
.left-column {
	float: left;
	border-right: 1px dotted #5c5c5c;
}
.author-block,
.related-block,
.main-content-block {
	border-bottom: 1px dotted #5c5c5c;
}
.component-author {
	padding: 0 30px 15px 0;
}

.component-author p {
	font-size: 10px;
	line-height: 21px;
	color: #5c5c5c;
	margin: 0;
}
.highlight {
	font-weight: 700;
	color: #076e9f;
}
.component-related {
	margin-bottom: 25px;
}
.component-related h2,
.component-stoke h2 {
	margin-top: 20px;
	margin-bottom: 15px;
}
.post-block {
	display: block;
	clear: both;
}
.post-img {
	height: 40px;
	width: 50px;
	margin: 0 20px 10px 0;
	float: left;
}
.post-1 {
	background: url("../img/post1.png");
	background-position: center 45%;
}
.post-2 {
	background: url("../img/post2.png");
	background-position: center 0%;
}
.post-3 {
	background: url("../img/post3.png");
	background-position: center 45%;
}
.post-title {
	text-decoration:none;
}
.post-title p:hover {
	color: #076e9f;
}
.post-title p{
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	color: #5c5c5c;
	margin-bottom: 0;
}
.post-comments {
	font-style: italic;
	font-size: 10px;
	color: #5c5c5c;
	text-decoration: none;
	margin-right: -10px;
}
.post-comments:hover {
	color: #076e9f;
}
.currency-block {
	border-bottom: 1px dotted #5c5c5c;
}
.component-stoke {
	margin-bottom: 45px;
}
.currency {
	display: block;
	width: 160px;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
}
.title-currency {
	background-color: #076e9f !important; 
	color: #fff !important;
}
.title-currency th {
	padding: 5px 8px;
}
.currency tr {
	margin-top: 2px;
	background-color: #c7e9fa;
	color: #076e9f;
	border-top: 1px solid #fff;
}
.currency tr:nth-child(3) {
	border-top: 1px solid #fff;
	background-color: #b1e1f8;
}
.main-column {
	position: relative;
	margin-top: -10px;
	margin-left: -30px;
	float: left;
	display: block;
	padding-left: 30px;
	background-color: #fff;
	box-sizing: border-box;
	border-top: 2px solid #22aaec;
	border-bottom: 1px dotted #5c5c5c;
	z-index: 100;
}
.main-column h2{
	margin: 0;
	padding-top: 30px;
	margin-bottom: 15px;
	font-size: 32px;
}
.main-post-block {
	padding-bottom: 0;
}
.icon-block {
	max-width: 115px;
	margin-right: 25px;
	float: left;
}
.content-post {
	float: left;
	max-width: 80%;
	margin-bottom: 20px;
}
.content-post p {
	margin-top: 0;
	font-size: 10px;
	color: #5c5c5c;
	line-height: 19px;
	margin-bottom: 30px;
	padding-right: 25px;
}
.btn {
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(4, 82, 121);
  border-bottom: 3px solid #000;
  background-image: -moz-linear-gradient( 90deg, rgb(6,95,146) 0%, rgb(8,127,174) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(6,95,146) 0%, rgb(8,127,174) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(6,95,146) 0%, rgb(8,127,174) 100%);
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.25);
  padding: 7px 12px;
  text-decoration: none;
  transition: all .5s;
}
.btn:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(8,127,174) 0%, rgb(6,95,146) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(8,127,174) 0%, rgb(6,95,146) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(8,127,174) 0%, rgb(6,95,146) 100%);
}
.post-meta {
	float: right;
	width: 179px;
	background-color: #90d4f5;
	height: 27px;
	padding-left: 10px;
	position: relative;
	margin-right: -15px;
}
.post-meta:before {
	content: "";
  position: absolute;
  bottom: -6px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 6px solid #076e9f;
  border-right: 10px solid transparent;
}
.post-meta a {
	font-size: 10px;
	text-decoration: none;
	color: #076e9f;
	transition: all .5s;
	padding-right: 5px;
}
.post-meta i:hover {
	color: rgb(4, 82, 121);
}
.post-meta i {
	color: #fff;
	padding-right: 2px;
	padding-top: 2px;
}
.main-block {
	float: left;
	margin-left: 22px;
}
.main-content-block {
	float: left;
	margin: 20px -27px;
	margin-left: -30px;
}
.main-post {
	background-color: #eaeaea;
	height: 185px;
	width: 347px;
	padding: 25px 20px 0 30px;
	border-radius: 15px 0 0 0;
	box-sizing: border-box;
	display: inline-block;
}
.main-post h2,
.main-post p {
	margin: 0;
}
.main-post h2 {
	line-height: 1em;
}
.main-post a:hover {
	text-decoration: underline;
}
.short-block .title {
	font-size: 10px;
	color: #878787;
	padding-bottom: 35px;
}
.large-block .title {
	padding-bottom: 10px;
}
.main-post p{
	font-size: 10px;
	line-height: 16px;
	color: #5c5c5c;
}
.main-post a {
	font-size: 10px;
	color: #076e9f;
	position: relative;
}
.footer-post {
	position: relative;
	text-align: right;
	padding: 5px 12px;
	font-size: 10px;
	background-color: #f4f3f3;
}
.footer-post:before,
.add-component:before {
 z-index: -1;
 position: absolute;
 content: "";
 bottom: 15px;
 left: 5px;
 width: 30%;
 top: 20%;
 max-width:300px;
 background: rgba(0, 0, 0, 0.7);
 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
 -webkit-transform: rotate(-6deg);
 -moz-transform: rotate(-6deg);
 -o-transform: rotate(-6deg);
 -ms-transform: rotate(-6deg);
 transform: rotate(-6deg);
}
.footer-post:after,
.add-component:after {
	 z-index: -1;
	 position: absolute;
	 content: "";
	 bottom: 15px;
	 right: 5px;
	 width: 30%;
	 top: 20%;
	 max-width:300px;
	 background: rgba(0, 0, 0, 0.7);
	 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
	 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	 -webkit-transform: rotate(6deg);
	 -moz-transform: rotate(6deg);
	 -o-transform: rotate(6deg);
	 -ms-transform: rotate(6deg);
	 transform: rotate(6deg);
}

.footer-post i {
	color: #90d4f5;
}
.footer-post i:hover {
	color: rgb(4, 82, 121);
}
.footer-post a {
	color: #076e9f;
	margin-right: 8px;
}
.add-component-wrap {
	width: 97%;
	display: block;
	margin: 30px auto 35px auto;
}
.add-component {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-left: 10px;
	background-color: #eeeded;
	box-sizing: border-box;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.add-component:after,
.add-component:before {
	bottom: 20px;
}
.add-component p {
	text-align: center;
	font-size: 12px;
	color: #636363;
	padding: 20px 0;
}
.map-block {
	border-top: 1px solid #bfbfbf;
	margin-bottom: 15px;
}
.map h2{
	margin: 0;
	margin-bottom: 15px;
	padding-left: 30px;
	font-size: 32px;
	margin-top: 20px;
}
.footer-block-menu {
	height: 20px;
  margin-bottom: 15px;
  padding: 0 5px;
}
.logo-footer {
	float: left;
	display: block;
}
.footer-menu {
	float: right;
	display: block;
}
.footer-nav a{
	font-size: 10px;
	text-transform: uppercase;
	color: #707070;
	padding-left: 35px;
	line-height: 10px;
}
.footer-nav a:hover {
	color: #076e9f;
}
footer {
	border-top: 1px dotted #5c5c5c;
}
.copyright {
	text-transform: uppercase;
	color: #707070;
	text-align: center;
	font-size: 10px;
	padding: 15px 0;
	margin: 0;
}