/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

		.left-column {

 //    	margin-left: -80px;
 		border-right: none;
  }
  .main-content-block {
		margin-left: -15px;
  }
 .author-block, .related-block, .main-content-block, .currency-block {
    border-bottom: none;
	}
	.author-block h2 {
		margin-top: 20px;
	}
	.map h2 {
		text-align: center;
	}
	.map-block {
		width: 100%;
		margin: 0 auto;
	}
	iframe {
		width: 100%;
	}
	.main-content-block {
		margin: 20px 0;
	}
}
@media only screen and (max-width : 900px) {
	.add-component-wrap {
		width: 94%;
		display: none;
	}
	.add-component {
    margin-left: 0px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	svg {
		fill: #47B4EA;
	}
	.header-nav {
	margin-top: 10px;
	margin-bottom: 10px;
}
.main-column {
	margin-top: -1px;
	z-index: 0;
	margin-right: -20px;
	border-top: none;
}
.main-column h2 {
	text-align: center;
}
.header-nav li {
	margin: 0;
}
.header-nav a {
	padding: 5px;
}
.active a {
	padding: 5px 18px;
}
.social-icon {
	display: none;
	position: absolute;
	top: 42px;
	right: 10px;
	z-index: 300;
	margin-right: 0;
}
.social-icon li {
	display: block;
	padding: 5px 10px;
	background-color: #FFF;
	border: 1px solid #22AAEC;
	opacity: .8;
}
.social-icon i {
	color: #22AAEC;
}
.auth-buttons {
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: -5px;
}
.auth-buttons i {
	font-size: 30px;
}
.main-content-block {
	margin-left: 5px;
}
.post-meta {
	margin-right: 10px;
}
.main-content-block {
	float: none;
}
.main-post-block {
    padding: 0 20px;
	}
	.left-column {
		margin: 0 20px;
	}
	.main-block {
    float: left;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 20px;
}
	.main-post {
		width: 100%;
	}
@media only screen and (max-width : 680px) {
	.item {
		margin-left: 5px;
	}
	.main-column {
		margin: 0 auto;
	}
	.left-column {
		padding-left: 29px;
	}
	.add-component {
		width: 85%;
	}
	.icon-block {
	margin-right: 25px;
	float: none;
	display: block;
	margin: 0 auto;
	}
	.main-column {
    padding-left: 0;
	}
	.content-post {
		max-width: 100%;
		text-align: center;
	}
	.content-post p {
		padding-right: 0;
	}
	.btn {
		float: left;
	}
}
@media only screen and (max-width : 600px) {
	.item {
		margin-left: 20px;
	}
	.col-xxs-12 {
		width: 100%;
	}
	.col-xxs-6 {
		width: 50%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.header-nav a {
		padding: 10px 5px;
	}
	.active a {
		padding: 10px 5px;
	}
	.item {
		margin-left: 5px;
	}
	.component-author {
		padding: 0;
	}
	.post-img {
		margin-right: 10px;
	}
	.add-component {
    width: 85%;
		margin-left: 20px;
	}
	.footer-nav a {
		padding-left: 0;
	}
	.post-meta {
    margin-right: 0px;
	}

}
@media only screen and (max-width : 420px) {
	.item {
		margin-left: 20%;
	}
	.post-meta {
		width: 173px;
	}
	.left-column {
		padding-left: 0;
	}
	.main-column h2 {
		padding-top: 60px;
		font-size: 28px;
		padding-top: 45px;
	}
	.main-img {
		height: 360px;
	}
	.people-block {
		margin-top: -75px;
	}
}
@media only screen and (max-width : 376px) {
	.map h2 {
   	padding-left: 15px;
   }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.auth-buttons {
		display: inline-block;
		position: absolute;
		right: 3px;
		bottom: -3px;
	}	
	.social-icon {
		top: 35px;
		margin-right: -7px;
	}
	.item {
		margin-left: 15%;
	}
	.post-meta {
		margin: 0;
	}

	.main-post h2 {
		font-size: 20px;
	}
	.main-post p {
		line-height: 18px;
	}
	.main-block {
	    float: left;
	    margin-left: 5px;
	    margin-right: 10px;
	    margin-top: 20px;
	}
   .add-component {
   	width: 86%;
   	margin-top: 5px;
   	margin-bottom: 0;
   }
   .content-post p {
   	margin-right: 0;
   }
   .main-column h2 {
   	padding-top: 70px;
   }
   .main-post h2 {
    font-size: 18px;
	}
	.main-post p {
    font-size: 9px;
	}
	.post-comments {
    font-size: 0;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 400px) {

}
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	.social-icon {
		display: inline-block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}